#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_test:
	@echo "Smoke-testing CliClient if multiflexi-cli is available"
	-debian/multiflexi-tui/../obj-*/multiflexi-tui-cliclient-check || true
